body {
  background-color: rgb(187, 187, 185);
  margin: 0%;
}
h1 {
  text-align: center;
}
.menuPrincipal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 45px;
   background: rgb(104, 29, 35);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(175, 206, 197);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
   color: rgb(209, 238, 78);
   background: rgb(16, 100, 13);
}
#galinha {
  width: 10%;
}
.caixaGalinha {
  position: absolute;
  top: 45px;
  left: 0%;
  width: 90%;
  height: 155px;
  background: blue;
  margin: 50px;
  border-width: 20px;
  border-color: violet;
  border-style: solid;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.rodape {
  position: absolute;
  bottom: 99%;
  width: 100%;
  height: 10px;
  background: blue;
  color: aquamarine;
}
.conteudo {
  position: absolute;
  top: 0%;
}