body {
  background-color: rgb(241, 204, 92);
  margin: 0%;
}
h1 {
  text-align: center;
  position: absolute;
  top: 45px;
  left: 0;
  width: 90%;
  height: 155px;
}
h2 {
  text-align: absolute;
  position: relative;
  left: 20px;
  top: 100px;
  width: 90%;
  height: 100px;
}
.menuPrincipal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 45px;
   background: rgb(104, 29, 35);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(175, 206, 197);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
   color: rgb(226, 238, 56);
   background: rgb(0, 0, 0);
}
#cinema {
  width: 10%;
}
.caixacinema {
  position: absolute;
  top: 45px;
  left: 0%;
  width: 90%;
  height: 155px;
  background: rgb(0, 0, 0);
  margin: 50px;
  border-width: 20px;
  border-color: rgb(170, 19, 19);
  border-style: solid;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: absolute

}
.rodape {
  position: absolute;
  bottom: 99%;
  width: 100%;
  height: 10px;
  background: rgb(248, 248, 252);
  color: aquamarine;
}
.conteudo {
  position: absolute;
  top: 0%
}
h2 {
  top: 500px;

}
h1 {
  top: 355px;
}
#fita {
  width: 90%;
  top: 0%;

}
.caixafita {
  position: absolute;
  top: 45px;
  left: 0%;
  width: 90%;
  height: 155px;
  background: rgb(0, 0, 0);
  margin: 50px;
  border-width: 20px;
  border-color: rgb(170, 19, 19);
  border-style: solid;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: absolute
}

h3 {
  position: absolute;
  top: 50px;
  margin: 0 auto;
}